Repository DelineaXPM/dsv-cli: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

Path conditions:
  pipelines/goreleaser.azure-pipelines.yml: any file but: .devcontainer, .github, *.md, **/*.md
  pipelines/goreleaser.build.azure-pipelines.yml: any of: CHANGELOG.md
  pipelines/tests.end-to-end.azure-pipelines.yml: any file but: .devcontainer, .github, *.md, **/*.md
  pipelines/vault-cli.yml: any file but: .devcontainer, .github, *.md, **/*.md

fix(mage): use SNAPCRAFT_STORE_CREDENTIALS not a file for publishing
  .changes/v1.39.10.md
  CHANGELOG.md
  magefiles/goreleaser.mage.custom.go
  pipelines/goreleaser.build.azure-pipelines.yml
  pipelines/tests.end-to-end.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(mage): remove parameter for snapcraft login
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(mage): remove parameter for snapcraft login
  .changes/v1.39.10.md
  CHANGELOG.md
Due: pipelines/goreleaser.build.azure-pipelines.yml

fix: mage logic flaw pekab
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(ci): snapcraft login is not required
  pipelines/goreleaser.build.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(ci): ensure snap var in scope for publish by goreleaser
  pipelines/goreleaser.build.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(ci): adjust goreleaser configuration to work through missing snap deployment
  .changes/v1.39.11.md
  .goreleaser.yaml
  CHANGELOG.md
  aqua.yaml
  pipelines/goreleaser.build.azure-pipelines.yml
  pipelines/templates/task-install-snapcraft.yml
  pipelines/tests.end-to-end.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(ci): remove snapcraft templating in goreleaser to simplify for publish
  .changes/v1.39.11.md
  .goreleaser.yaml
  CHANGELOG.md
  pipelines/goreleaser.build.azure-pipelines.yml
  pipelines/tests.end-to-end.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(ci): remove snapcraft templating in goreleaser to simplify for publish
  .changes/v1.39.11.md
  .goreleaser.yaml
  CHANGELOG.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(ci): remove snapcraft alias in goreleaser to simplify for publish
  .changes/v1.39.12.md
  .goreleaser.yaml
  CHANGELOG.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

refactor(snap): remove interface to local filesystem and allow config to be inside snap environment
  .changes/v1.39.13.md
  .goreleaser.yaml
  CHANGELOG.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

ocs: add alias command for snap
  README.md
Due: none

chore(devcontainer): add sshd feature to allow for goland support
  .devcontainer/devcontainer.json
Due: none

refactor: resolve missing codecov by enabling codecov uploader for tests
  codecov.yml
  pipelines/templates/task-codecov.yml
  pipelines/tests.end-to-end.azure-pipelines.yml
  pipelines/tests.integration.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

refactor(ci): resolve missing codecov by enabling codecov uploader for tests (#43)
  codecov.yml
  pipelines/templates/task-codecov.yml
  pipelines/tests.end-to-end.azure-pipelines.yml
  pipelines/tests.integration.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(ci): aqua.yml and vars.go.yml must match for success
  pipelines/templates/vars.go.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(ci): indent codecov at proper level
  pipelines/tests.end-to-end.azure-pipelines.yml
  pipelines/tests.integration.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

chore: improve devcontainer setup & docs
  .changes/unreleased/🤖 Development-20230112-004952.yaml
  .devcontainer/devcontainer.json
  .devcontainer/init
  .devcontainer/init.bat
  .envrc
  .trunk/trunk.yaml
  README.md
  aqua.yaml
  magefiles/magefile.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

docs: add source install directions for using go install
  README.md
Due: none

add sort, sortedBy, cursor, limit to engines
  commands/engine.go
  constants/commands.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

add changelog
  .changes/unreleased/🎉 Feature-20230113-184025.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

add optional
  commands/engine.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

change sorted by text
  commands/engine.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

improve help text
  commands/engine.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

add example
  commands/engine.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

add test on limit
  tests/e2e/cmd_engine_test.go
  tests/e2e/e2e_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

add searchTerm and poolName
  commands/engine.go
  constants/commands.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

update changelog
  .changes/unreleased/🎉 Feature-20230113-184025.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix tests
  tests/e2e/cmd_engine_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fmt
  commands/engine.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

add new flags for pool list command
  .changes/unreleased/🎉 Feature-20230113-221306.yaml
  commands/pool.go
  constants/commands.go
  tests/e2e/cmd_pool_test.go
  tests/e2e/e2e_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fmt
  .changes/unreleased/🎉 Feature-20230113-221306.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

rm cursor&limit
  .changes/unreleased/🎉 Feature-20230113-184025.yaml
  commands/engine.go
  tests/e2e/cmd_engine_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

change usage
  commands/engine.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

rm flags from command usage
  commands/engine.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix typo
  constants/commands.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

feat(engines): add new flags (#46)
  .changes/unreleased/🎉 Feature-20230113-184025.yaml
  commands/engine.go
  constants/commands.go
  tests/e2e/cmd_engine_test.go
  tests/e2e/e2e_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

rm cursor&limit flags
  .changes/unreleased/🎉 Feature-20230113-221306.yaml
  commands/pool.go
  tests/e2e/cmd_pool_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

add changelog
  .changes/unreleased/🎉 Feature-20230116-162527.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

rm sorted slice
  tests/e2e/cmd_pool_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml
