Repository DelineaXPM/dsv-cli: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

Path conditions:
  pipelines/goreleaser.azure-pipelines.yml: any file but: .devcontainer, .github, *.md, **/*.md
  pipelines/goreleaser.build.azure-pipelines.yml: any of: CHANGELOG.md
  pipelines/tests.end-to-end.azure-pipelines.yml: any file but: .devcontainer, .github, *.md, **/*.md
  pipelines/vault-cli.yml: any file but: .devcontainer, .github, *.md, **/*.md

fix: rename install-go-from-aquaconfig.yml to install-go-from-aqua-config.yml
  pipelines/templates/install-go-from-aqua-config.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

Update Golang version in pipeline and remove toolchain directive in go.mod
  aqua.yaml
  go.mod
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

feat: release v1.40.6
  .changes/v1.40.6.md
  CHANGELOG.md
Due: pipelines/goreleaser.build.azure-pipelines.yml

fix(ci): 🐛 adjust path to correct azure pipeline template
  pipelines/goreleaser.build.azure-pipelines.yml
  pipelines/tests.end-to-end.azure-pipelines.yml
  pipelines/tests.integration.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(ci): another correction to name
  pipelines/goreleaser.build.azure-pipelines.yml
  pipelines/tests.end-to-end.azure-pipelines.yml
  pipelines/tests.integration.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

ci: adjust logic in template to be more cross platform capable
  pipelines/templates/install-go-from-aqua-config.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

ci: disable signing
  .goreleaser.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

ci(release): remove environment variables for codesigning
  .goreleaser.yaml
  pipelines/goreleaser.build.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

ci: add changie-trigger-release [skip ci]
  .github/workflows/changie-trigger-release.yml
Due: none

chore(deps): bump trunk tooling [skip ci]
  .trunk/.gitignore
  .trunk/trunk.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

build(goreleaser): replace deprecated --rm-dist option with --clean [skip ci]
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

style(changie-trigger-changelog): ✏️ fix name from lint to changelog [skip ci]
  .github/workflows/changie-trigger-release.yml
Due: none

ci(test): adjust triggers to pull request to be on target main [skip ci]
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

chore(trunk): use builtin mgo mod tidy and vendor action [skip ci]
  .trunk/trunk.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(trunk): invalid formatting
  .trunk/trunk.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

feat(testing): improve test file handling and cleanup
  version/update_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

added additional attribute '--body' to dsv secret create & dsv home create
  commands/home.go
  commands/secret.go
  commands/secret_test.go
  constants/commands.go
  constants/doc.go
  format/writers.go
  tests/e2e/cmd_init_test.go
  utils/env.go
  utils/time.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

modified interface{} to any
  .trunk/trunk.yaml
  commands/secret.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

added nolint to 2 issues that will not be resolved in this PR
  format/writers.go
  utils/env.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

updated aqua-checksums.json
  aqua-checksums.json
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

added comment text for testing
  commands/secret.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

added changelog information to PR
  .changes/unreleased/🎉 New Product Feature-20240321-125958.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

Update .changes/unreleased/🎉 New Product Feature-20240321-125958.yaml
  .changes/unreleased/🎉 New Product Feature-20240321-125958.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

ci: improve triggers so preflight doesn't run on PR or main commit and filter to go files for tests
  pipelines/goreleaser.build.azure-pipelines.yml
  pipelines/tests.end-to-end.azure-pipelines.yml
  pipelines/tests.integration.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

chore(trunk): exclude some common lint tooling from scanning with secret tooling
  .trunk/trunk.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

modified comments in secrets.go
  commands/secret.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(commands): do not transfrom string answer to integer
  commands/siem.go
  vaultcli/survey.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(commands): do not transform string answer to integer (#135)
  commands/siem.go
  vaultcli/survey.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

Update utils/env.go
  utils/env.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

Update format/writers.go
  format/writers.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

ci: add security to valid types for conventional-pr.yml
  .github/workflows/conventional-pr.yml
Due: none

feat(body): added additional attribute '--body' to dsv secret create & dsv home c… (#134)
  .changes/unreleased/🎉 New Product Feature-20240321-125958.yaml
  .trunk/trunk.yaml
  aqua-checksums.json
  commands/home.go
  commands/secret.go
  commands/secret_test.go
  constants/commands.go
  constants/doc.go
  format/writers.go
  tests/e2e/cmd_init_test.go
  utils/env.go
  utils/time.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

chore: fix prefacing space in CODEOWNERS
  .github/CODEOWNERS
Due: none

chore(deps): update changelogs
  .changes/unreleased/🎉 New Product Feature-20240321-125958.yaml
  .changes/v1.41.0.md
  CHANGELOG.md
  aqua.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(snap): 🐛 spec change for snap .goreleaser.yaml [skip ci]
  .goreleaser.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

chore(deps): update changelogs
  .changes/v1.41.1.md
  CHANGELOG.md
Due: pipelines/goreleaser.build.azure-pipelines.yml

Update v1.41.1.md
  .changes/v1.41.1.md
Due: none

fix file
  .changes/v1.41.1.md
  CHANGELOG.md
Due: pipelines/goreleaser.build.azure-pipelines.yml

added support for multiple azure MSI profiles
  auth/auth.go
  auth/auth_test.go
  commands/cli-config.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

cleaned up comments
  commands/cli-config.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml
