Repository DelineaXPM/dsv-cli: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

pipelines/goreleaser.azure-pipelines.yml:
  name: goreleaser-dsv-cli-$(why).$(Date:yyyyMMdd)-$(Rev:r)
  jobs:
  - job: BuildCLI
    strategy:
      matrix:
        linux:
          imageName: ubuntu-latest
        mac:
          imageName: macOS-latest
          demands: xcode
    timeoutInMinutes: ${{ parameters.TIMEOUT_MIN }}
    pool:
      vmImage: $(imageName)
  ...

pipelines/goreleaser.build.azure-pipelines.yml:
  name: release.dsv-cli.$(why).$(Date:yyyyMMdd)-$(Rev:r)
  jobs:
  - job: build
    displayName: build-dsv-cli
    strategy:
      matrix:
        linux:
          friendlyName: dsv-cli-linux
          imageName: ubuntu-latest
    timeoutInMinutes: ${{ parameters.TIMEOUT_MIN }}
    pool:
      vmImage: $(imageName)
  ...

pipelines/tests.end-to-end.azure-pipelines.yml:
  name: dsv-cli.tests.end-to-end.$(why).$(Date:yyyyMMdd)-$(Rev:r)
  jobs:
  - job: endtoendtest
    displayName: dsv-cli-endtoend-test
    strategy:
      matrix:
        linux:
          friendlyName: dsv-cli-linux
          imageName: ubuntu-latest
    timeoutInMinutes: ${{ parameters.TIMEOUT_MIN }}
    pool:
  ...

pipelines/vault-cli.yml:
  schedules:
  - cron: 0 6 * * 1-5
    displayName: Mon through Fri at 6:00
    branches:
      include:
      - master
  jobs:
  - job: Build_All_Platforms
    pool:
      vmImage: ubuntu-latest
    steps:
    - checkout: self
      clean: ${{ parameters.clean }}
  ...

Update .changes/v1.40.0.md
  .changes/v1.40.0.md
Due: none

docs: add changelog docs for v1.40.0 (#64)
  .changes/unreleased/🎉 Feature-20230113-184025.yaml
  .changes/unreleased/🎉 Feature-20230113-221306.yaml
  .changes/unreleased/🎉 Feature-20230116-162527.yaml
  .changes/unreleased/🎉 Feature-20230116-183844.yaml
  .changes/unreleased/🎉 Feature-20230116-184305.yaml
  .changes/unreleased/🎉 Feature-20230116-210606.yaml
  .changes/unreleased/🎉 Feature-20230116-211534.yaml
  .changes/unreleased/🎉 Feature-20230116-213324.yaml
  .changes/unreleased/🎉 Feature-20230119-202326.yaml
  .changes/unreleased/🐛 Bug Fix-20230118-161022.yaml
  .changes/unreleased/🐛 Bug Fix-20230119-185443.yaml
  .changes/unreleased/🐛 Bug Fix-20230120-162159.yaml
  .changes/unreleased/🐛 Bug Fix-20230123-150858.yaml
  .changes/unreleased/🤖 Development-20230112-004952.yaml
  .changes/v1.40.0.md
  CHANGELOG.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

update changelog text
  .changes/unreleased/🐛 Bug Fix-20230131-210605.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(init): return error message while file store is not a directory (#63)
  .changes/unreleased/🐛 Bug Fix-20230131-210605.yaml
  commands/cli-config.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

build: add handling to mage task to not install if already eists
  magefiles/magefile.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

add files i missed. whoops
  .goreleaser.yaml
  README.md
  docker/Dockerfile.dsv.chainguard
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

refactor(wip): antic-plumb
  README.md
  docker/Dockerfile.dsv.chainguard
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

create release for this feature and prior bug fixes
  .changes/unreleased/🐛 Bug Fix-20230131-210605.yaml
  .changes/v1.40.1.md
  CHANGELOG.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

vendor and create release contents
  .changes/v1.40.1.md
  .trunk/trunk.yaml
  README.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

refactor(wip): saved-decoy
  .changes/v1.40.1.md
Due: none

lint fix
  .changes/v1.40.1.md
  .trunk/trunk.yaml
  CHANGELOG.md
  aqua.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

refactor(wip): quasi-pinch
  pipelines/goreleaser.build.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(docker): point the image to the static binary instead
  .envrc
  README.md
  docker/Dockerfile.dsv.chainguard
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

chore: lint fix
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

match golang version from aqua installs
  pipelines/templates/vars.go.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

refactor(wip): other-fungi
  aqua.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

feat(release): add 🐳 docker release as another distribution method (#70)
  .changes/unreleased/🐛 Bug Fix-20230131-210605.yaml
  .changes/v1.40.1.md
  .envrc
  .goreleaser.yaml
  .trunk/trunk.yaml
  CHANGELOG.md
  README.md
  aqua.yaml
  docker/Dockerfile.dsv.chainguard
  magefiles/goreleaser.mage.custom.go
  magefiles/magefile.go
  pipelines/goreleaser.build.azure-pipelines.yml
  pipelines/templates/vars.go.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

docs(README): fix docker image reference name to published image
  README.md
Due: none

chore(gitignore): add .DS_Store to gitignore
  .gitignore
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

refactor(commands): allow command handler functions to return error
  .changes/unreleased/🔨 Refactor-20230217-124051.yaml
  commands/audit.go
  commands/audit_test.go
  commands/base.go
  commands/user.go
  commands/user_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

refactor(commands): allow command handler functions to return an error (#73)
  .changes/unreleased/🔨 Refactor-20230217-124051.yaml
  commands/audit.go
  commands/audit_test.go
  commands/base.go
  commands/user.go
  commands/user_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

refactor(internal/store): do not use custom errors in store package
  .changes/unreleased/🔨 Refactor-20230220-215030.yaml
  .golangci.yaml
  .trunk/trunk.yaml
  auth/auth.go
  auth/auth_test.go
  auth/encryption.go
  auth/method_clientcred.go
  auth/method_password.go
  commands/auth.go
  commands/auth_test.go
  commands/cli-config.go
  commands/secret.go
  commands/secret_test.go
  internal/store/credential-helpers/credentials.go
  internal/store/credential-helpers/pass.go
  internal/store/credential-helpers/pass_test.go
  internal/store/credential-helpers/wincred.go
  internal/store/file_store.go
  internal/store/none_store.go
  internal/store/pass_store.go
  internal/store/secure_store.go
  internal/store/store.go
  internal/store/store_test.go
  internal/store/win_store_notwindows.go
  internal/store/win_store_windows.go
  store/credential-helpers/api.go
  store/credential-helpers/credentials.go
  store/credential-helpers/credentials_ext.go
  store/credential-helpers/credentials_test.go
  store/credential-helpers/error.go
  store/file_store.go
  store/none_store.go
  store/secure_store.go
  tests/fake/fake_authenticator.go
  tests/fake/fake_store.go
  utils/test_helpers/encryption.go
  vaultcli/cli.go
  vaultcli/cli_options.go
  vaultcli/config.go
  version/update.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

refactor(internal/store): do not use custom errors in store package (#81)
  .changes/unreleased/🔨 Refactor-20230220-215030.yaml
  .golangci.yaml
  .trunk/trunk.yaml
  auth/auth.go
  auth/auth_test.go
  auth/encryption.go
  auth/method_clientcred.go
  auth/method_password.go
  commands/auth.go
  commands/auth_test.go
  commands/cli-config.go
  commands/secret.go
  commands/secret_test.go
  internal/store/credential-helpers/credentials.go
  internal/store/credential-helpers/pass.go
  internal/store/credential-helpers/pass_test.go
  internal/store/credential-helpers/wincred.go
  internal/store/file_store.go
  internal/store/none_store.go
  internal/store/pass_store.go
  internal/store/secure_store.go
  internal/store/store.go
  internal/store/store_test.go
  internal/store/win_store_notwindows.go
  internal/store/win_store_windows.go
  store/credential-helpers/api.go
  store/credential-helpers/credentials.go
  store/credential-helpers/credentials_ext.go
  store/credential-helpers/credentials_test.go
  store/credential-helpers/error.go
  store/file_store.go
  store/none_store.go
  store/secure_store.go
  tests/fake/fake_authenticator.go
  tests/fake/fake_store.go
  utils/test_helpers/encryption.go
  vaultcli/cli.go
  vaultcli/cli_options.go
  vaultcli/config.go
  version/update.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

test(tests/e2e): use CLI profile and cache access token
  .changes/unreleased/🔨 Refactor-20230221-223458.yaml
  tests/e2e/cmd_engine_test.go
  tests/e2e/cmd_pool_test.go
  tests/e2e/cmd_role_test.go
  tests/e2e/cmd_siem_test.go
  tests/e2e/e2e_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

test(tests/e2e): reuse access token in tests by using a profile (#82)
  .changes/unreleased/🔨 Refactor-20230221-223458.yaml
  tests/e2e/cmd_engine_test.go
  tests/e2e/cmd_pool_test.go
  tests/e2e/cmd_role_test.go
  tests/e2e/cmd_siem_test.go
  tests/e2e/e2e_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

remove v from version
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

add changelog
  .changes/unreleased/🐛 Bug Fix-20230222-200028.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

Revert "remove v from version"
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

rm prefix from cliVersions{}
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(magefiles): remove "v" prefix from version (#83)
  .changes/unreleased/🐛 Bug Fix-20230222-200028.yaml
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

docs: add changelog for v1.40.2
  .changes/unreleased/🐛 Bug Fix-20230222-200028.yaml
  .changes/unreleased/🔨 Refactor-20230217-124051.yaml
  .changes/unreleased/🔨 Refactor-20230220-215030.yaml
  .changes/unreleased/🔨 Refactor-20230221-223458.yaml
  .changes/v1.40.2.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

build: fix GO_VERSION to match aqua.yml
  pipelines/templates/vars.go.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

docs: update main changelog with v1.40.2
  CHANGELOG.md
Due: pipelines/goreleaser.build.azure-pipelines.yml

docs: add changelog for v1.40.2 (#86)
  .changes/unreleased/🐛 Bug Fix-20230222-200028.yaml
  .changes/unreleased/🔨 Refactor-20230217-124051.yaml
  .changes/unreleased/🔨 Refactor-20230220-215030.yaml
  .changes/unreleased/🔨 Refactor-20230221-223458.yaml
  .changes/v1.40.2.md
  CHANGELOG.md
  pipelines/templates/vars.go.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

test(tests/e2e): move testing Home Vault commands to a new E2E suite
  cicd-integration/integration_test.go
  tests/e2e/cmd_home_test.go
  tests/e2e/e2e_resilience_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

test(tests/e2e): move Home Vault command tests to a new suite (#88)
  cicd-integration/integration_test.go
  tests/e2e/cmd_home_test.go
  tests/e2e/e2e_resilience_test.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(magefiles): fix generating links to binaries
  .changes/unreleased/🐛 Bug Fix-20230403-180523.yaml
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

docs: add doc info on the version prefix standards
  docs/developer/release.md
Due: none

fix(magefiles): fix generating links to binaries (#90)
  .changes/unreleased/🐛 Bug Fix-20230403-180523.yaml
  docs/developer/release.md
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

build(aqua): pin cosign to < 2.0.0
  aqua.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

Path conditions:
  pipelines/goreleaser.azure-pipelines.yml: any file but: .devcontainer, .github, *.md, **/*.md
  pipelines/goreleaser.build.azure-pipelines.yml: any of: CHANGELOG.md
  pipelines/tests.end-to-end.azure-pipelines.yml: any file but: .devcontainer, .github, *.md, **/*.md
  pipelines/vault-cli.yml: any file but: .devcontainer, .github, *.md, **/*.md
