Repository DelineaXPM/dsv-cli: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

pipelines/goreleaser.azure-pipelines.yml:
  name: goreleaser-dsv-cli-$(why).$(Date:yyyyMMdd)-$(Rev:r)
  jobs:
  - job: BuildCLI
    strategy:
      matrix:
        linux:
          imageName: ubuntu-latest
        mac:
          imageName: macOS-latest
          demands: xcode
    timeoutInMinutes: ${{ parameters.TIMEOUT_MIN }}
    pool:
      vmImage: $(imageName)
  ...

pipelines/goreleaser.build.azure-pipelines.yml:
  name: goreleaser-dsv-cli-$(why).$(Date:yyyyMMdd)-$(Rev:r)
  jobs:
  - job: build
    displayName: build-dsv-cli
    strategy:
      matrix:
        linux:
          friendlyName: dsv-cli-linux
          imageName: ubuntu-latest
    timeoutInMinutes: ${{ parameters.TIMEOUT_MIN }}
    pool:
      vmImage: $(imageName)
  ...

pipelines/tests.end-to-end.azure-pipelines.yml:
  name: dsv-cli.tests.end-to-end.$(why).$(Date:yyyyMMdd)-$(Rev:r)
  jobs:
  - job: endtoendtest
    displayName: dsv-cli-endtoend-test
    strategy:
      matrix:
        linux:
          friendlyName: dsv-cli-linux
          imageName: ubuntu-latest
    timeoutInMinutes: ${{ parameters.TIMEOUT_MIN }}
    pool:
  ...

pipelines/vault-cli.yml:
  schedules:
  - cron: 0 6 * * 1-5
    displayName: Mon through Fri at 6:00
    branches:
      include:
      - master
  jobs:
  - job: Build_All_Platforms
    pool:
      vmImage: ubuntu-latest
    steps:
    - checkout: self
      clean: ${{ parameters.clean }}
  ...

ci(conventional-commit): change `pull_request_target` to `pull_request` for `conventional-pr` workflow
  .github/workflows/conventional-pr.yml
Due: none

feat: 🍺 add brew install for macOS and linux
  .changes/unreleased/🎉 Feature-20221214-184525.yaml
  .goreleaser.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

feat: add config for running goreleaser to publish Formula
  .goreleaser.yaml
  go.mod
  go.sum
  magefiles/goreleaser.mage.custom.go
  magefiles/tests.mage_darwin.go
  vendor/golang.org/x/crypto/AUTHORS
  vendor/golang.org/x/crypto/CONTRIBUTORS
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/exp/LICENSE
  vendor/golang.org/x/exp/PATENTS
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/golang.org/x/mod/modfile/read.go
  vendor/golang.org/x/mod/modfile/rule.go
  vendor/golang.org/x/mod/module/module.go
  vendor/modules.txt
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

change task name for bump
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix logic issues
  magefiles/goreleaser.mage.custom.go
  magefiles/magefile.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

wip
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

feat: 🚀 create release v1.39.3
  .changes/unreleased/🎉 Feature-20221213-150422.yaml
  .changes/unreleased/🎉 Feature-20221214-184525.yaml
  .changes/unreleased/🐛 Bug Fix-20221212-155748.yaml
  .changes/unreleased/🐛 Bug Fix-20221212-160021.yaml
  .changes/v1.39.2.md
  CHANGELOG.md
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix: resolve lint issues
  .markdownlint.yaml
  go.mod
  go.sum
  magefiles/goreleaser.mage.custom.go
  vendor/golang.org/x/exp/LICENSE
  vendor/golang.org/x/exp/PATENTS
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/modules.txt
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix: resolve lint issues
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix: resolve lint issues
  pipelines/goreleaser.build.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

feat: 🍺 add homebrew install method (#37)
  .changes/unreleased/🎉 Feature-20221213-150422.yaml
  .changes/unreleased/🐛 Bug Fix-20221212-155748.yaml
  .changes/unreleased/🐛 Bug Fix-20221212-160021.yaml
  .changes/v1.39.2.md
  .goreleaser.yaml
  .markdownlint.yaml
  CHANGELOG.md
  go.mod
  go.sum
  magefiles/goreleaser.mage.custom.go
  magefiles/magefile.go
  magefiles/tests.mage_darwin.go
  pipelines/goreleaser.build.azure-pipelines.yml
  vendor/golang.org/x/crypto/AUTHORS
  vendor/golang.org/x/crypto/CONTRIBUTORS
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/mod/modfile/read.go
  vendor/golang.org/x/mod/modfile/rule.go
  vendor/golang.org/x/mod/module/module.go
  vendor/modules.txt
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(ci): resolve duplicate assets in sbom files
  .goreleaser.yaml
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix: release with better brew support for different architectures
  .changes/v1.39.3.md
  .goreleaser.yaml
  CHANGELOG.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix: release fix for embedding of version information in binary
  .goreleaser.yaml
  CHANGELOG.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix: release fix for embedding of version information in binary
  .changes/v1.39.4.md
Due: none

fix: release fix for embedding of version information in binary
  .goreleaser.yaml
  CHANGELOG.md
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix: release fix for embedding of version information in binary
  .changes/v1.39.5.md
Due: none

fix: set correct module name in ldflags
  .goreleaser.darwin.yaml
  .goreleaser.linux.yaml
  .goreleaser.windows.yaml
  Makefile
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

chore: 🔥 remove unnecessary duplicate goreleaser files [skip ci]
  .goreleaser.darwin.yaml
  .goreleaser.linux.yaml
  .goreleaser.windows.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

ci(goreleaser): adjust checksum file naming [skip ci]
  .goreleaser.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

build(goreleaser): refactor the artifact output naming [skip ci]
  .changes/unreleased/🔨 Refactor-20221216-155318.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

docs: 📘 improve the installation examples and add HomeBrew install method 🎉 [skip ci]
  README.md
Due: none

build(mage): ensure upload to s3 is part of release all [skip ci]
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

feat: 🚀 release with updated checksum paths and s3 upload included
  .changes/unreleased/🔨 Refactor-20221216-155318.yaml
  CHANGELOG.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

docs: add changelog docs for v1.39.6
  .changes/v1.39.6.md
Due: none

fix(mage): invalid task invocation syntax resolved
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

build(goreleaser): adjust checksums to a single file for simplicity [skip ci]
  .goreleaser.yaml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

feat: add Scoop installation method & use single checksums file
  .changes/v1.39.7.md
  CHANGELOG.md
Due: pipelines/goreleaser.build.azure-pipelines.yml

refactor: remove Scoop installation method at this time
  .changes/v1.39.8.md
  .goreleaser.yaml
  CHANGELOG.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

feat: add Scoop publish support
  .changes/v1.39.9.md
  .goreleaser.yaml
  CHANGELOG.md
  README.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

docs: fix doc install reference for scoop to name the bucket addition
  README.md
Due: none

initial changes to support snap publishing (and autoinstall of snapcraft on darwin system)
  .goreleaser.yaml
  docs/developer/local-development.md
  magefiles/magefile.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

chore: wip
  .changes/unreleased/🎉 Feature-20230104-141301.yaml
  .gitignore
  README.md
  docs/developer/release.md
  magefiles/goreleaser.mage.custom.go
  pipelines/goreleaser.build.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

feat: 🚀 create release v1.39.10
  .changes/unreleased/🎉 Feature-20230104-141301.yaml
  .changes/v1.39.10.md
  CHANGELOG.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

docs: improve installation directions
  README.md
Due: none

chore: adjust to allow html inline markdown and adjust other markdown rules
  .markdownlint.yaml
  .trunk/trunk.yaml
  docs/developer/release.md
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

chore: lint fixes
  .changes/v1.39.10.md
  .changes/v1.39.8.md
  CHANGELOG.md
Due: pipelines/goreleaser.build.azure-pipelines.yml

feat(release): support snap install (#40)
  .changes/v1.39.10.md
  .changes/v1.39.8.md
  .gitignore
  .goreleaser.yaml
  .markdownlint.yaml
  .trunk/trunk.yaml
  CHANGELOG.md
  README.md
  docs/developer/local-development.md
  docs/developer/release.md
  magefiles/goreleaser.mage.custom.go
  magefiles/magefile.go
  pipelines/goreleaser.build.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(ci): 🐛 include snapcraft in pipeline builds
  .changes/v1.39.10.md
  CHANGELOG.md
  pipelines/goreleaser.build.azure-pipelines.yml
  pipelines/tests.end-to-end.azure-pipelines.yml
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

fix(mage): use valid snapcraft login command on release
  .changes/v1.39.10.md
  CHANGELOG.md
  magefiles/goreleaser.mage.custom.go
Due: pipelines/goreleaser.azure-pipelines.yml, pipelines/goreleaser.build.azure-pipelines.yml, pipelines/tests.end-to-end.azure-pipelines.yml, pipelines/vault-cli.yml

Path conditions:
  pipelines/goreleaser.azure-pipelines.yml: any file but: .devcontainer, .github, *.md, **/*.md
  pipelines/goreleaser.build.azure-pipelines.yml: any of: CHANGELOG.md
  pipelines/tests.end-to-end.azure-pipelines.yml: any file but: .devcontainer, .github, *.md, **/*.md
  pipelines/vault-cli.yml: any file but: .devcontainer, .github, *.md, **/*.md
